---
import wordpress from "../assets/svg/press.svg";
import coding from "../assets/svg/coding.svg";
import js from "../assets/svg/js.svg";
import html5 from "../assets/svg/html5.svg";
import css from "../assets/svg/css.svg";
import php from "../assets/svg/php1.svg";
import mysql from "../assets/svg/mysql.svg";
import jquery from "../assets/svg/jquery.svg";
import apache from "../assets/svg/apache.svg";
import vuejssvg from "../assets/svg/vuejs.svg";
---

<!DOCTYPE html>
<html>
 <meta name="viewport" content="width=device-width, initial-scale=1.0" />

 <link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
 />
 <section>
  <div class="head">
   <br />
   <h1>PUNEET SHARMA</h1>
   <h2 class="role">WEB DEVLOPER</h2>
  </div>
  <div class="contact">
   <div class="phone">
    <a href="tel:+919716464927">
     <i class="fa fa-phone" aria-hidden="true"></i>
    </a>
    +************
   </div>
   <div class="email">
    <a href="mailto:punee@intaxing.in">
     <i class="fa fa-envelope" aria-hidden="true"></i>
    </a>
    punee@intaxing.in
   </div>
   <div class="web">
    <img
     src="https://www.mozilla.org/media/protocol/img/logos/firefox/browser/logo-lg.3d9087ac44e8.png"
     width="40px"
    />
    <a class="none" href="//puneetxp.github.io"> puneetxp.github.io</a>
   </div>
  </div>
  <div class="objective text-c">
   <h2>Objective</h2>
   <h3>
    Work as hard is not a bad objective is not an objective I want. A good
    company that let me work only for 8 hour without any crunch.<br />
    May be some but with prior notice.
    <br />
   </h3>
  </div>
  <div class="experience">
   <h2 class="exp">Experience</h2>
   <div class="bad text-c">
    <small>
     <strong> Dark Past</strong>I was pursuing for C.A. but leave it as i never
     like it first place and even when i pursing it then also I creating small
     website for people in wordpress.
    </small>
   </div>
   <div class="good text-j">
    <div class="first">
     <img src={wordpress} alt="Wordpress" width={50} />
     Start from WordPress and do some css and use of template somehow and gives good
     result.
    </div>
    <div class="second">
     <div class="sd">
      But from 2019 I work on for intaxing.in and don't want to word press
      anymore, So I build intaxing.in Full Stack Developer without any
      framework. On Local Linux and Window Servers using HTML JavaScript CSS and
      Backend with PHP and put in WAN. Also setup a Mail server for same address
      which also run locally.
      <br /><br />
      Now I working on framework which i never want to do but as framework using
      by the industry I need to adapt.
     </div>
     <div class="ima">
      <img src={coding} alt="Coding" width={50} />
      <br /><br />
      <img src={coding} alt="Coding" width={50} />
     </div>
    </div>
   </div>
  </div>
  <div class="skill">
   <h2>Languages</h2>
   <div class="langc">
    <h3 class="pad">
     <img src={js} alt="JS" width={50} />
     <img src={html5} alt="HTML5" width={50} />
     <img src={css} alt="CSS" width={50} />
     <img src={php} alt="PHP" width={50} />
     <img src={mysql} alt="MYSQL" width={50} />
     <img src={jquery} alt="JQUERY" width={50} />
     <img src={apache} alt="APACHE" width={50} />
     <img src={vuejssvg} alt="vuejs" width={50} />
     <img src="https://www.solidjs.com/assets/logo-123b04bc.svg" alt="solidjs" width={50} />
     <img src="https://angular.io/assets/images/logos/angular/angular.svg" />
     Ajax & Mail Servers
    </h3>
   </div>
   <div class="Software"></div>
  </div>
  <div class="not-o pad">
   <h2>Desire To be Remain Relevant</h2>
   <div class="text-j">
    I have want more and more with new things which regularly happening in
    Coding industry I think it is possible to have a good experience where new
    possibility appear any time. Full stack to A.I. as tide turn you have to
    adopt for new possibility.<br />
    Right Now I am looking for a chance in work with industry level tech. But to
    be fair personal financial position also an important part of my life decision
    that lacking and I need.
   </div>
  </div>
  <div class="about">
   <h2>About</h2>
   <div class="">
    <h4 style="text-align:justify">
     A Developer which is never should developer may be there are some
     alternative to his career but life show me path to coding. Also I think
     that will earn more of my skills.
    </h4>
   </div>
  </div>
 </section>
 <div class="footer">
  <div class="social_media">
   <a href="https://twitter.com/Puneetsharmakau">
    <svg viewBox="0 0 24 24" class="r-jwli3a">
     <g>
      <path
       d="M23.643 4.937c-.835.37-1.732.62-2.675.733.962-.576 1.7-1.49 2.048-2.578-.9.534-1.897.922-2.958 1.13-.85-.904-2.06-1.47-3.4-1.47-2.572 0-4.658 2.086-4.658 4.66 0 .364.042.718.12 1.06-3.873-.195-7.304-2.05-9.602-4.868-.4.69-.63 1.49-.63 2.342 0 1.616.823 3.043 2.072 3.878-.764-.025-1.482-.234-2.11-.583v.06c0 2.257 1.605 4.14 3.737 4.568-.392.106-.803.162-1.227.162-.3 0-.593-.028-.877-.082.593 1.85 2.313 3.198 4.352 3.234-1.595 1.25-3.604 1.995-5.786 1.995-.376 0-.747-.022-1.112-.065 2.062 1.323 4.51 2.093 7.14 2.093 8.57 0 13.255-7.098 13.255-13.254 0-.2-.005-.402-.014-.602.91-.658 1.7-1.477 2.323-2.41z"
      ></path>
     </g>
    </svg>
   </a>

   <a href="https://codepen.io/puneetxp">
    <img
     class="r-jwli3a codepen"
     src="https://blog.codepen.io/wp-content/uploads/2012/06/Button-Fill-Black-Large.png"
    />
   </a>
  </div>
  <a href="https://stackoverflow.com/users/7609791/puneet-sharma">
   <svg
    class="r-jwli3a stackover"
    width="50"
    height="54"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
   >
    <path d="M26 41v-9h4v13H0V32h4v9h22z" fill="#BCBBBB"></path>
    <path
     d="M23 34l.8-3-16.1-3.3L7 31l16 3zM9.2 23.2l15 7 1.4-3-15-7-1.4 3zm4.2-7.4L26 26.4l2.1-2.5-12.7-10.6-2.1 2.5zM21.5 8l-2.7 2 9.9 13.3 2.7-2L21.5 8zM7 38h16v-3H7v3z"
     fill="#F48024"></path>
   </svg>
  </a>
 </div>
 <div>Copyright &copy; 2020 designed by Puneet Sharma</div>

 <style>
  :root {
   --accent: 124, 58, 237;
   --accent-gradient: linear-gradient(
    45deg,
    rgb(var(--accent)),
    #da62c4 30%,
    white 60%
   );
  }
  html {
   font-family: system-ui, sans-serif;
   background-color: #f6f6f6;
  }
  body {
   font-size: 1.3rem;
   line-height: 1.27;
   margin: auto;
   font-family: lato, sans-serif;
  }
  /*section {
  max-width: 1920px;
  margin: auto;
}
*/
  h1 {
   font-size: 2.5rem;
  }
  h2 {
   font-size: 2rem;
  }

  h1,
  h2,
  .objective {
   margin-right: auto;
   text-align: center;
  }
  .first,
  .second {
   display: flex;
   //flex-wrap: wrap;
   justify-content: space-around;
   text-align: justify;
   align-items: center;
   padding: 10px 0;
  }
  section {
   padding: 0 0;
  }
  .contact {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   text-align: center;
   text-transform: capitalize;
   align-self: center;
  }
  .contact .phone,
  .contact .email,
  .contact .web {
   margin: 10px 0px;
  }
  .ima img {
   margin: 0 12px;
  }
  a.none {
   text-decoration: none;
   color: initial;
  }
  .pad {
   padding: 0 10px;
  }
  .experience .good {
   padding: 0 10px;
  }
  .experience .bad {
   background: #00b7ff00;
   padding: 0px 10px;
   margin-bottom: 0px;
   font-size: 0.79rem;
   color: #00b7ff00;
  }
  .experience .bad:hover {
   transition: background 500ms ease-in;
   background: white;
  }

  .experience .first img {
   margin: 10px;
  }
  .skill h3 {
   text-align: center;
  }
  h2.exp {
   margin-bottom: 10px;
  }
  h2.role {
   margin-bottom: 8px;
  }
  .text-j {
   text-align: justify;
  }
  .text-c {
   text-align: center;
  }
  h3 img {
   width: 95px;
  }
  .langc h3 {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: center;
   background-color: #dadaff;
   padding: 20px;
  }
  .skill {
   padding: 15px 0;
   background: #e9ffe9;
  }
  .experience {
   background: #b2e9ff;
   color: #6a6a6a;
   padding: 15px 0;
  }
  .objective {
   background: #728272;
   color: #f2e4e4;
   background: #8bdb8b;
   color: #192b168f;
   background: #8bdb8b;
   color: #073a35c4;
   padding: 15px 0;
  }
  .objective h3 {
   padding: 0px 20px;
  }
  .phone .fa,
  .email .fa {
   font-size: 40px;
  }
  .web,
  .phone,
  .email {
   display: flex;
   justify-content: space-around;
   align-items: center;
   flex-direction: column;
  }
  .about {
   background: aqua;
   color: #664edbc2;
   background: aqua;
   color: #032f3a91;
   padding: 10px;
   background: aqua;
   color: #00000091;
  }
  .not-o {
   margin: 20px 0;
  }
  @supports (display: grid) {
   @media screen and (min-width: 800px) {
    section {
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-template-rows: auto auto auto;
     grid-template-areas:
      "head objective"
      "contact objective"
      "experience skill"
      "desire skill"
      "desire about"
      "footer footer";
    }
    .footer {
     grid-area: footer;
    }
    h3 img {
     width: 135px;
    }
    .objective {
     grid-area: objective;
     margin: 1.5%;
     padding: 0 0;
    }
    .contact {
     grid-area: contact;
     margin: 1%;
    }

    .head {
     grid-area: head;
     margin: 1%;
    }

    .experience {
     grid-area: experience;
     margin: 1%;
     padding: 0 0;
    }

    //.s { grid-area: footer;}
    .skill {
     margin: 1%;
     grid-area: skill;
    }
    .not-o {
     margin: 1%;
     grid-area: desire;
    }
    .about {
     margin: 1%;
     grid-area: about;
    }
   }

   @media screen and (min-width: 1200px) {
    section {
     grid-template-columns: 2fr 0.5fr 0.5fr 1fr;
     grid-template-areas:
      "skill skill skill head"
      "skill  skill  skill contact"
      "experience experience objective objective"
      "desire desire desire about"
      "footer footer footer footer";
    }
    .ima img {
     margin: 0 22px;
    }
   }
  }
  @media screen and (min-width: 1980px) {
   section {
    grid-template-columns: 2fr 0.5fr 0.5fr 1fr;
    grid-template-areas:
     "skill skill skill head"
     "skill  skill  skill contact"
     "experience experience objective objective"
     "desire desire desire about"
     "footer footer footer footer";
   }
   .ima img {
    margin: 0 22px;
   }
   h3 img {
    width: 226px;
   }
   body {
    font-size: 2rem;
   }
   h1 {
    font-size: 3rem;
   }
   h2 {
    font-size: 2.5rem;
   }
  }

  .r-jwli3a {
   width: 40px;
   background: #81a4aa;
   margin: 20px;
   border-radius: 10%;
  }
  .r-jwli3a:hover {
   transition: all 200ms ease-out;
   transform: rotate(15deg);
   border-radius: 20%;
  }
  .codepen {
   background: #919191;
  }
  .stackover:hover {
   transform: scale(0.74) rotate(20deg);
  }
  .stackover {
   position: relative;
   background: #dbdbdb;
   transform: scale(0.74);
  }
  .social_media {
   display: flex;
   justify-content: center;
   align-items: center;
  }
  .footer {
   display: flex;
   justify-content: center;
   align-items: center;
   background: #343a40;
   flex-direction: column;
   color: #ffffffab;
  }
 </style>


</html>
